.game__board {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
//   height: 100vh;
  .card {
    background-color: lightgrey;
    width: 398px;
    border-radius: 5px;
    padding: 20px;
    h1 {
      color: black;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .rollBtn__container {
      text-align: center;
      margin-top: 20px;
      button {
        background: #5035ff;
        min-width: 150px;
        min-height: 50px;
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
